requests~=2.27.1
numpy~=1.19.5
torch~=1.10.1
torchaudio~=0.10.1
spafe~=0.2.0
pandas~=1.1.5
matplotlib~=3.3.4
seaborn~=0.11.2
sox
fhir~=0.0.4
apscheduler~=3.10.0
tqdm~=4.62.3
sklearn~=0.0
opensmile~=2.4.2
scikit-learn~=0.24.2
mlflow~=1.23.1